<%- include('./partials/head') %>
<body>
  <main>
    <h1>become an admin</h1>
    <div>
      <form action="" method="POST">
        <label for="admin">Shoot your shot</label>
        <input type="password" name="admin" id="admin" />
        <button type="submit">submit</button>
      </form>
    </div>
  </main>
</body>
